@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/images/spikes.png');
}

button > a:link {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bookCard {
  background-color: lightgray;
  border-radius: 2px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.btn:hover {
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.description {
  font-family: 'Roboto Slab', serif;
}

.header {
  border-bottom: 2px solid black;
}

.jumbotron {
  background-color: cornflowerblue;
  color: white;
}

.antonFont {
  font-family: 'Anton', sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
